@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

/* Set a background image and create a moving animation */
/* Center everything on the page */
body {
    font-family: Arial;
    font-size: 20px;
    color: white;
    background-color: #333;
    background-image: url('https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: 80%;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background-repeat: repeat;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-top: 50px; /* Align to the bottom */
    min-height: 100vh; /* Ensure at least viewport height */
}
/* ... (rest of your CSS styles) ... */

@-webkit-keyframes slidein {
from {background-position: top; background-size:1700px; }
to {background-position: -100px 0px;background-size:3000px;}
}

@keyframes slidein {
from {background-position: top;background-size:1990px; }
to {background-position: -100px 0px;background-size:3000px;}

}
.navbar {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}
.cloud-icon {
    border-radius: 50%;
    width: 90px;
    height: auto;
    margin-bottom: 10px;
}

input[id="city"] {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
.container {
    font-weight: bold;
    width: 40%;
    margin: 0 auto;
    text-align: center; /* Center text inside the container */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Center the grid container inside the container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; /* Center the grid horizontally */
}
/* Style the weather information */
h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
p {
    font-size: 20px;
    color: #555;
}



